EXPO_PUBLIC_SUPABASE_URL=your_supabase_project_url
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_public_key
EXPO_PUBLIC_API_BASE_URL=https://your_backend_base_url
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=904238201234-f9cjmceoaj9n2vum9bp037aosb2unuts.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=904238201234-71a99g4ike3r1vmt6fcd1ccnjb6tr49n.apps.googleusercontent.com
